<div class="mb-3 col-sm-4 mx-auto mt-5">
  <label for="exampleFormControlInput1" class="form-label">Nombre</label>
  <input [(ngModel)]="contacto.nombre" type="text" name="nombre" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese nombre">
</div>
<div class="mb-3 col-sm-4 mx-auto mt-5">
  <label for="email" class="form-label">Email address</label>
  <input [(ngModel)]="contacto.email"  type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
</div>
<div class="mb-3 col-sm-4 mx-auto mt-5">
  <label for="edad" class="form-label">Edad</label>
  <input [(ngModel)]="contacto.edad"  type="number" name="edad" class="form-control" id="edad" placeholder="Ingrese edad">
</div>
<div class="mb-3 col-sm-4 mx-auto">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea [(ngModel)]="contacto.observacion"  name="observacion" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  <br/><br/>
  <select [(ngModel)]="contacto.estado" class="form-select" aria-label="Default select example">
    <option [ngValue]="e" *ngFor="let e of estados" >{{e.descripcion}}</option>
  </select>
  <br/><br/>
  <br/><br/>
  <select [(ngModel)]="contacto.esta2" multiple class="form-select" aria-label="Default select example">
    <option [ngValue]="e" *ngFor="let e of estados" >{{e.descripcion}}</option>
  </select>
  <br/><br/>
  
  <button class="btn btn-primary" (click)="crear()">Guardad</button>
  <button class="btn btn-success" (click)="cancelar()">Cancelar</button>
</div>